body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#left {
  /* border-style: solid; */
  width: 22%;
  float: left;
  white-space: pre-wrap;
  margin-left: 10px;
  padding-right: 10px;
  overflow-wrap: break-word;
  height: 100%;
  /* border-right: 10px solid #0A0; */
}
.entry {
  margin-top: 50px;
  width: 100%;
  height: 40%;
  position: fixed;
  background-color: rgba(50, 200, 50, 1);
  align-self: center;
  /* opacity: 0.5; */
  text-align: center;
  border: 10px solid black;
}
.members {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 2%;
  /* max-height: 20%; */
  
}
.break {
flex-basis: 100%;
height: 0;
}
#member {
  display: flex;
  justify-content: left;
  flex-direction: row;
  height: 30vh;
  width: auto;
  align-self: left;
  padding: 0 30px 30px 30px;

}
#member img {
  max-height: 30vh;
  max-width: auto;
  padding: 0 2vh 2vh 2vh;
}
img {
  object-fit: cover;
}
#mid {
  float:left;
  /* border-style: solid; */
  text-align: center;
  width: 48%;
  align-items: center;
  border-left: 10px solid #090;
  border-right: 10px solid #090;
  padding-left: 10px;
  padding-right: 10px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  /* border-right: 10px solid #0A0; */
}
.big {
  font-size: 2.5em;
}
.big p {
  font-size: 2.5em;
}
#right {
  /* border-style: solid; */
  width: 22%;
  float: right;
  /* border-right: 10px solid #090; */
  white-space: pre-wrap;
  overflow-wrap: break-word;
  height: 100%;
  /* border-right: 10px solid #0A0; */
  margin-right: 10px;
}
.memberCard {
  margin: 10px;
  padding: 20px;
  width: 30%;
  border: 1px black solid;
  display: flex;
  justify-content: center;
  height: 200px;
}
.info {
  padding-right: 20px;
}
.image {
  height: 150px;
}
.group {
  display: flex;
  justify-content: center;
}